$primaryLightColor: #FFDB7D;
$primaryColor:#FFC940;
$primaryDarkColor: #FFB340;
$primaryDarkerColor: #FFA928;
$primaryTextColor: #1e1e1e;
$primaryLighterColor: rgba($primaryLightColor,.1);

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import '../../sass/theme/_theme_dark';
