<div class="landing-body animate__animated animate__fadeIn">
    <div class="landing-wrapper">
        <div id="home" class="landing-banner landing-banner-character">
            <div class="landing-banner-content">
                <span class="title">Starwars Characters</span>
                <h3>Hope is like the sun. If you only believe it when you see it, you'll never make it through the night
                </h3>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input (keyup)="search($event)" [(ngModel)]="searchTerm" type="text" pInputText
                        placeholder="Search Characters">
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="layout-dashboard">
    <br>
    <div class="p-grid box">
        <div class="p-col-12 p-md-8">
            <div class="notification animate__animated animate__fadeIn">

                <h6>👋
                    You are in the Characters section. Type to display results. If you want to see all the movies
                    related to the saga, go to<a [routerLink]="['/films']"
                        routerLinkActive="router-link-active">Movies<i class="pi pi-arrow-up"></i></a> section.</h6>
            </div>
        </div>


        <div class="p-col-12 p-md-8">
            <div class="notification animate__animated animate__fadeIn">
                <div class="p-fluid p-formgrid p-grid" *ngIf="isCharactersFilm">
                    <div class="p-col-12 p-md-2">
                        <p-button label="Back Films" routerLink="/films" icon="pi pi-arrow-left"></p-button>
                    </div>
                    <div class="p-col-12 p-md-8">
                        <h1><span class="title box">{{ this.actualTitle }}</span></h1>
                    </div>
                    <div class="p-col-12 p-md-2">
                        <p-button label="All Characters" icon="pi pi-list" (click)="getAllCharacters()"></p-button>
                    </div>
                </div>

                <h5>Filters</h5>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="state">Eye Color</label>
                        <p-dropdown (onChange)="filter($event)" appendTo="body" [options]="eyeColors"
                            [(ngModel)]="selectedEyeColor" optionLabel="eye_color" [filter]="true" filterBy="eye_color"
                            [showClear]="true" placeholder="Select a Eye Color">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedEyeColor">
                                    <span [class]="'character-badge eye-' + selectedEyeColor.eye_color"><i
                                            class="pi pi-eye"></i> {{ selectedEyeColor.eye_color | titlecase }}</span>
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="eyeColor-item">
                                    <span [class]="'character-badge eye-' + eyeColor.eye_color"><i
                                            class="pi pi-eye"></i> {{ eyeColor.eye_color | titlecase }}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="zip">Gender</label>
                        <p-dropdown (onChange)="filter($event)" appendTo="body" [options]="genders"
                            [(ngModel)]="selectedGender" optionLabel="gender" [filter]="true" filterBy="gender"
                            [showClear]="true" placeholder="Select a Gender">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedGender">
                                    <span [class]="'character-badge gender-' + selectedGender.gender.toLowerCase()"><i
                                            class="pi pi-eye"></i> {{ selectedGender.gender | titlecase }}</span>
                                </div>
                            </ng-template>
                            <ng-template let-gender pTemplate="item">
                                <div class="gender-item">
                                    <span [class]="'character-badge gender-' + gender.gender.toLowerCase()"><i
                                            class="pi pi-eye"></i> {{ gender.gender | titlecase }}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <div class="p-field p-col-12 p-md-4" *ngIf="!isCharactersFilm">
                        <label for="zip">Films</label>
                        <p-dropdown (onChange)="filter($event)" appendTo="body" [options]="films"
                            [(ngModel)]="selectedFilm" optionLabel="title" [filter]="true" filterBy="title"
                            [showClear]="true" placeholder="Select a Film">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedFilm">
                                    <div>{{selectedFilm.title | titlecase}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-film pTemplate="item">
                                <div class="film-item">
                                    <div>{{film.title | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="p-col-12">

        <div class="p-grid box-character">
            <div class="p-col-12 p-md-6 p-lg-6 p-xl-2 animate__animated animate__fadeIn"
                *ngFor="let character of this.charactersPage">
                <p-card [header]="character?.name | lowercase" styleClass="p-card-shadow">
                    <ng-template pTemplate="header">
                    </ng-template>
                    <p><a>Name:</a> {{ this.character?.name }} </p>
                    <p><a>Eye color: </a><span [class]="'character-badge eye-' + this.character.eye_color"><i
                                class="pi pi-eye"></i> {{ this.character?.eye_color | titlecase }}</span>
                    </p>
                    <p><a>Gender: </a> <span [class]="'character-badge gender-' + this.character.gender"><i
                                class="pi pi-user"></i> {{ this.character?.gender | titlecase }}</span></p>

                    <br>
                    <p><a>Films:</a></p>

                    <p-listbox [options]="this.character?.filmsArray" optionLabel="title"
                        (onClick)="selectFilm( $event )"></p-listbox>
                </p-card>
            </div>


        </div>
    </div>

    <div class="p-grid box">
        <div class=" animate__animated animate__fadeIn">
            <p-paginator #p [rows]="10" [totalRecords]="this.charactersFilter?.length"
                (onPageChange)="paginate($event)">
            </p-paginator>
        </div>
    </div>

</div>

<p-dialog header="opening Crawl" position="top" [(visible)]="displayCrawl" [style]="{width: '100%', heigth: '100%'}">
    <app-crawl-opening [film]="this.selectedFilmCrawl"></app-crawl-opening>
</p-dialog>



<ng-template #customLoadingTemplate>
    <app-loading></app-loading>
</ng-template>

<ngx-loading [show]="loading" [template]="customLoadingTemplate"></ngx-loading>
