<div class="landing-body animate__animated animate__fadeIn">
    <div class="landing-wrapper">
        <div id="home" class="landing-banner landing-banner-character">
            <div class="landing-banner-content">
                <span class="title">Starwars Characters</span>
                <h3>Hope is like the sun. If you only believe it when you see it, you'll never make it through the night
                </h3>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Search Characters">
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="layout-dashboard">
    <br>
    <div class="p-grid box">
        <div class="p-col-8">
            <div class="notification animate__animated animate__fadeIn">

                <h6>👋
                    You are in the Characters section. Type to display results. If you want to see all the movies
                    related to the saga, go to<a>Movies<i class="pi pi-arrow-up"></i></a> section.</h6>
            </div>
        </div>

        <div class="p-col-4">
            <div class="notification animate__animated animate__fadeIn">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 animate__animated animate__fadeIn">
                        <p-multiSelect [options]="eyeColor" [(ngModel)]="selectedEyeColor"
                            defaultLabel="Select a Eye color" optionLabel="eye_color" class="multiselect-custom"
                            appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedEyeColor">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" /> -->
                                    <div>{{option.eye_color}}</div>
                                </div>
                                <div *ngIf="!selectedEyeColor || selectedEyeColor.length === 0"
                                    class="country-placeholder">
                                    Select a Eye color
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{eyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>


                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 animate__animated animate__fadeIn">
                        <p-multiSelect [options]="eyeColor" [(ngModel)]="selectedEyeColor"
                            defaultLabel="Select a Gender" optionLabel="eye_color" class="multiselect-custom"
                            appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedEyeColor">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" /> -->
                                    <div>{{option.eye_color}}</div>
                                </div>
                                <div *ngIf="!selectedEyeColor || selectedEyeColor.length === 0"
                                    class="country-placeholder">
                                    Select a Gender
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{eyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>


                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 animate__animated animate__fadeIn">
                        <p-multiSelect [options]="eyeColor" [(ngModel)]="selectedEyeColor"
                            defaultLabel="Select a Film" optionLabel="eye_color" class="multiselect-custom"
                            appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedEyeColor">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" /> -->
                                    <div>{{option.eye_color}}</div>
                                </div>
                                <div *ngIf="!selectedEyeColor || selectedEyeColor.length === 0"
                                    class="country-placeholder">
                                    Select a Film
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{eyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid box title-page" style="margin: -1rem;">
                <div class="p-col-12">

                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6 p-xl-2 animate__animated animate__fadeIn"
                            *ngFor="let character of this.charactersPage">
                            <p-card [header]="character?.name | lowercase" styleClass="p-card-shadow">
                                <ng-template pTemplate="header">
                                </ng-template>
                                <p><a>Name:</a> {{ this.character?.name }} </p>
                                <p><a>Eye color:</a> {{ this.character?.eye_color | titlecase }}</p>
                                <p><a>Gender:</a> {{ this.character?.gender | titlecase }}</p>

                                <ng-template pTemplate="footer">

                                    <!-- <p-button label="Opening Crawl" icon="pi pi-eye" (click)="modalOpening(film)">
                                    </p-button>
                                    <p-button label="Characters Film" icon="pi pi-user" styleClass="p-button-secondary"
                                        [style]="{'margin-left': '.5em'}"></p-button> -->
                                </ng-template>
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-paginator [rows]="10" [totalRecords]="this.rspCharacter?.count" (onPageChange)="paginate($event)">
        </p-paginator>

    </div>




</div>

<!-- <p-dialog header="opening Crawl" position="top" [(visible)]="displayCrawl" [style]="{width: '100%', heigth: '100%'}">
    <app-crawl-opening [film]="this.selectedFilm"></app-crawl-opening>
</p-dialog> -->
