<div class="landing-body animate__animated animate__fadeIn">
    <div class="landing-wrapper">
        <div id="home" class="landing-banner landing-banner-character">
            <div class="landing-banner-content">
                <span class="title">Starwars Characters</span>
                <h3>Hope is like the sun. If you only believe it when you see it, you'll never make it through the night
                </h3>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                    <input type="text" pInputText placeholder="Search Characters">
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="layout-dashboard">
    <br>
    <div class="p-grid box">
        <div class="p-col-8">
            <div class="notification animate__animated animate__fadeIn">

                <h6>👋
                    You are in the Characters section. Type to display results. If you want to see all the movies
                    related to the saga, go to<a>Movies<i class="pi pi-arrow-up"></i></a> section.</h6>
            </div>
        </div>


        <div class="p-col-8">
            <div class="notification animate__animated animate__fadeIn">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 box animate__animated animate__fadeIn">

                        <!-- <h5>Eye color</h5> -->
                        <p-dropdown (onChange)="filter($event)" appendTo="body" [options]="eyeColors" [(ngModel)]="selectedEyeColor" optionLabel="eye_color"
                            [filter]="true" filterBy="eye_color" [showClear]="true" placeholder="Select a Eye Color">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedEyeColor">
                                    <div>{{selectedEyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="eyeColor-item">
                                    <div>{{eyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>

                        <!-- <p-multiSelect [options]="eyeColors" [(ngModel)]="selectedEyeColor" (onChange)="filter($event)"
                            defaultLabel="Select a Eye color" optionLabel="eye_color" class="multiselect-custom"
                            appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedEyeColor">
                                    
                                    <div>{{option.eye_color | titlecase}}</div>
                                </div>
                                <div *ngIf="!selectedEyeColor || selectedEyeColor.length === 0"
                                    class="country-placeholder">
                                    Select a Eye color
                                </div>
                            </ng-template>
                            <ng-template let-eyeColor pTemplate="item">
                                <div class="country-item">
                                    
                                    <div>{{eyeColor.eye_color | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect> -->
                    </div>


                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 box animate__animated animate__fadeIn">
                        
                        <p-dropdown (onChange)="filter($event)" appendTo="body" [options]="genders" [(ngModel)]="selectedGender" optionLabel="gender"
                            [filter]="true" filterBy="gender" [showClear]="true" placeholder="Select a Gender">
                            <ng-template pTemplate="selectedItem">
                                <div class="country-item country-item-value" *ngIf="selectedGender">
                                    <div>{{selectedGender.gender | titlecase}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-gender pTemplate="item">
                                <div class="gender-item">
                                    <div>{{gender.gender | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        
                        <!-- <p-multiSelect [options]="genders" [(ngModel)]="selectedGender" (onChange)="filter($event)"
                            defaultLabel="Select a Gender" optionLabel="gender" class="multiselect-custom"
                            appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedGender">
                                  
                                    <div>{{option.gender}}</div>
                                </div>
                                <div *ngIf="!selectedGender || selectedGender.length === 0" class="country-placeholder">
                                    Select a Gender
                                </div>
                            </ng-template>
                            <ng-template let-gender pTemplate="item">
                                <div class="country-item">
                                    
                                    <div>{{gender.gender | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect> -->
                    </div>


                    <div class="p-col-12 p-md-12 p-lg-4 p-xl-4 box animate__animated animate__fadeIn">
                        <p-multiSelect [options]="this.films" [(ngModel)]="selectedFilms" defaultLabel="Select a Film"
                            optionLabel="title" class="multiselect-custom" appendTo="body">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value" *ngFor="let option of selectedFilms">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()" /> -->
                                    <div>{{option.title}}</div>
                                </div>
                                <div *ngIf="!selectedFilms || selectedFilms.length === 0" class="country-placeholder">
                                    Select a Film
                                </div>
                            </ng-template>
                            <ng-template let-film pTemplate="item">
                                <div class="country-item">
                                    <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->
                                    <div>{{film.title | titlecase}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid box title-page" style="margin: -1rem;">
                <div class="p-col-12">

                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-6 p-xl-2 animate__animated animate__fadeIn"
                            *ngFor="let character of this.charactersPage">
                            <p-card [header]="character?.name | lowercase" styleClass="p-card-shadow">
                                <ng-template pTemplate="header">
                                </ng-template>
                                <p><a>Name:</a> {{ this.character?.name }} </p>
                                <p><a>Eye color:</a> {{ this.character?.eye_color | titlecase }}</p>
                                <p><a>Gender:</a> {{ this.character?.gender | titlecase }}</p>

                                <br>
                                <p><a>Films:</a></p>

                                <p-listbox [options]="this.character?.filmsArray" optionLabel="title"
                                    (onClick)="selectFilm( $event )"></p-listbox>
                            </p-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-paginator #p [rows]="10" [totalRecords]="this.charactersFilter?.length" (onPageChange)="paginate($event)">
        </p-paginator>

    </div>

</div>

<p-dialog header="opening Crawl" position="top" [(visible)]="displayCrawl" [style]="{width: '100%', heigth: '100%'}">
    <app-crawl-opening [film]="this.selectedFilm"></app-crawl-opening>
</p-dialog>
